body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.h1{
    color: grey;
    font-size: 25px;
    border-bottom: 6px solid #AACE9B;
    margin-top: 50px;
}

.align{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    margin-top: -80px;
}

.media{
    position: relative;
    float: right;
    bottom: 50px;
}

.container{
    background-color: rgb(170, 206, 155, 0.2);
    padding: 80px 30px;
    margin-bottom: 40px;
}

.welcome{
    color: #373867;
}

.winner{
    color: grey;
}

#p{
    color: grey;
    margin-top: 80px;
    width: 500px;
    height: auto;
}

.train{
    float: right;
    height: 500px;
    margin-top: -60px;
}

.learn-more{
    color: #373867;
    background-color: #AACE9B;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    margin-top: 20px;
}

.pages{
    text-align: center;
    
}

.pages > input{
    color: #AACE9B;
    border-color: #AACE9B;
    background-color: #ffffff;
    border-radius: 10px;
    height: 40px;
    width: 60px;
    margin-left: 15px;
    margin-bottom: 100px;
}

.line{
    border-bottom: 3px solid #E3DDDD;
    margin-bottom: 50px;
}

.line-2{
    border-bottom: 6px solid #AACE9B;
    width: 150px;
}

#line-3{
    border-bottom: 6px solid #AACE9B;
    margin-bottom: 70px;
}

#line-4{
    border-left: 4px solid black;
    padding: 10px;
    font-size: 18px;
}

#line-5{
    border-bottom: 3px solid #E3DDDD;
    width: 700px;
    font-size: 20px;
}

#line-6{
    border-top: 9px solid #E3DDDD;
    width: 700px;
    font-size: 20px;
    float: right;
    
}

.inline{
    margin-bottom: 30px;
}

.block {
    display: inline-block;
    width: 500px;
    margin-left: 105px;
    margin-right: 125px;
}

.block-2 {
    display: inline-block;
    margin-left: 145px;
}

.note {
    display: inline-block;
    width: 300px;
    height: 250px;
    position: relative;
    left: 15px;
}

.note-2{
    font-size: 25px;
    color: #373867;
}

.note-3{
    font-size: 15px;
    color: #373867;
}

#note-4{
    position: relative;
    top: 20px;
    font-size: 25px;
    color: #373867;
    margin-left: 775px;
    margin-top: 100px;
}

#pesas{
    float: right;
    margin-top: -260px;
}

#rusas{
    position: relative;
    bottom: 40px;
}

.act{
    position: relative;
    top: 30px;
}

.card{
    position: relative;
    top: 100px;
    right: 40px;
}

.letter{
    position: relative;
    right: 100px;
}

.media-2{
    text-align: center;
    margin-bottom: 50px;
}

.media-2 > img{
    margin-left: 15px;
}

#city{
    text-align: center;
}

.form{
    float: left;
    width: 400px;
}

.form > input{
    width: 350px;
}

.select{
    display: inline-block;
    top: 30px;
    width: 600px;
    margin-bottom: 50px;
}

#format{
    width: 600px;
}

#text-area{
    width: 1470px;
    margin-bottom: 30px;
}

#clear{
    color: #373867;
    background-color: #ffffff;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    margin-top: 20px;
    margin-right: 50px;
}