<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../css/footer.css" />
    <link rel="stylesheet" type="text/css" href="../css/login.css" />
    <link rel="icon" href="../../assets/imgs/rr.ico" />
    <script src="../js/login.js" type="text/javascript"></script>
  </head>
  <body>
    <header>
      <div class="h1-login">
        <h1>Mega Rocket GYM</h1>
      </div>
    </header>
    <main>
      <div class="container-login">
        <div class="form-container">
          <form>
            <h2>Mega Rocket</h2>
            <h3>Login</h3>
            <div class="login">
              <div class="login-input">
                <label for="">Email</label>
                <input type="text" placeholder="example@gmail.com" />
                <span class="error error-view">Invalid Email</span>
              </div>
              <div class="img-login">
                <img src="../../assets/imgs/email.png" alt="Email" />
              </div>
            </div>
            <div class="login">
              <div class="login-input">
                <label for="">Password</label>
                <input type="password" placeholder="Type Your Password" />
                <span class="error error-view" id="error">Invalid Password</span>
              </div>
              <div class="img-login">
                <img src="../../assets/imgs/lock.png" alt="Password" />
              </div>
            </div>
            
            <div class="button-container">
              <button  class="button-login">
                <a href="../views/index.html">Home</a> 
              </button>
              <div>
                <input 
                  class="button-login" type="button" name="submit" value="Login" id="login">
                </input>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer class="footer-login">
      <h3>Mega Rocket S.A</h3>
    </footer>
  </body>
</html>
