<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../css/header.css" />
    <link rel="stylesheet" type="text/css" href="../css/sign-up.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="h1-singup">
        <h1>Mega Rocket GYM</h1>
      </div>
    </header>
    <main>
      <div class="container-singup">
        <div class="form-singup">
          <form>
            <div class="input-singup">
              <input type="text" placeholder="Type Your Name" />
              <label for="">Name</label>
            </div>
            <div class="input-singup">
              <input type="text" placeholder="Type Your Last Name" />
              <label for="">Last Name</label>
            </div>
            <div class="input-singup">
              <input type="text" placeholder="Type Your DNI" />
              <label for="">DNI</label>
            </div>
            <div class="input-singup">
              <input type="text" placeholder="Type Your Birth" />
              <label for="">Birth</label>
            </div>
            <div class="input-singup">
              <input type="text" placeholder="Type Your Phone" />
              <label for="">Phone</label>
            </div>
            <div class="input-singup">
              <input type="text" placeholder="Type Your Adress" />
              <label for="">Adress</label>
            </div>
            <div class="input-singup">
              <input type="text" placeholder="Type Your Location" />
              <label for="">Location</label>
            </div>
            <div class="input-singup">
              <input type="text" placeholder="Type Your Postal Code" />
              <label for="">Postal Code</label>
            </div>
            <div class="input-singup">
              <input type="text" placeholder="Type Your Password" />
              <label for="">Password</label>
            </div>
            <div class="input-singup">
              <input type="text" placeholder="Repeat Your Password" />
              <label for=""> Repeat Password</label>
            </div>
            <div class="button-container">
              <button class="button-singup">Home</button>
              <button class="button-singup">Sing Up</button>
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer class="footer-singup">
      <h3>Mega Rocket S.A</h3>
    </footer>
  </body>
</html>
