body{
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.learn-more{
    height: 50px;
    width: 150px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #AACE9B;
    color: #373867;
}



@media(min-width: 390px){
    .h1{
        font-size: 15px;
        color: rgb(182, 181, 181);
        margin-left: 20px;
    }
    
    .header{
        display: flex;
        align-items: center;
        border-bottom: 6px solid #AACE9B;
    }
    
    .ham-icon{
        width: 30px;
        height: 30px;
    }

    .header-imgs{
        width: 60%;
        display: flex;
        justify-content: flex-end;
    }

    .align{
        width: 15px;
        height: 15px;
        margin-left: 15px;
    }

    .container{
       
        margin-bottom: 40px;
        background-color: rgb(170, 206, 155, 0.2);
    }
    
    .nav{
        display: none;
    }

    .learn-more{
        display: none;
    }

    .title-container{
        display: flex;
        flex-direction: column;
    }

    .title-container > h2{
        font-size: 35px;
        color: #373867;
    }

    .title-container > h3{
        font-size: 15px;
        color: rgb(202, 196, 196);
    }

    #first-img{
        width: 100%;
        margin-top: 30px;
    }

    #p{
        margin-top: 30px;
        color: rgb(202, 196, 196);
        font-size: 14px;
    }

    .line{
        border-bottom: 1px solid #E3DDDD;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .line-2{
        border-bottom: 4px solid #AACE9B;
        width: 180px;
        margin-bottom: 40px;
    }

    .container-2{
        color: #373867;
    }

    .container-2 > h4{
        font-size: 37px;
    }
    
    .img{
        height: 70px;
    }

    .input-container{
        display: flex;
        flex-direction: column;
        margin-left: 100px;
    }

    .clear{
        height: 40px;
        width: 110px;
        margin-top: 20px;
        margin-right: 50px;
        border-radius: 5px;
        background-color: #ffffff;
        color: #373867;
    }

    .send-it{
        height: 40px;
        width: 110px;
        margin-top: 20px;
        border: none;
        border-radius: 5px;
        background-color: #AACE9B;
        color: #373867;
    }

    .form{
        color: #373867;
    }

    .form > h3{
        font-size: 12px;
    }

    .form > input{
        width: 92%;
    }

    .form > textarea{
        width: 92%;
        height: 100px;
    }

    .line-3{
        color: rgb(182, 181, 181);
        padding: 10px;
        border-left: 4px solid black;
        font-size: 14px;
    }

    .line-4{
        color: rgb(182, 181, 181);
        font-size: 14px;
    }

    .img-cont{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .act-container{
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        width: 50px;
    }

    .act-container > img{
        height: 100px;
    }
}

